<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lideng.sword.admin.dao.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.lideng.sword.admin.model.entity.SysDept">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, parent_id, order_num, create_by, create_time, last_update_by, last_update_time, 
    del_flag,version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
    where id = #{id}
  </select>

  <insert id="insert" parameterType="com.lideng.sword.admin.model.entity.SysDept">
    insert into sys_dept (id, name, parent_id, 
      order_num, create_by, create_time, 
      last_update_by, last_update_time, del_flag,version
      )
    values (#{id}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT},
      #{orderNum,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT},#{version}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lideng.sword.admin.model.entity.SysDept">
    update sys_dept
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId},
      order_num = #{orderNum,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      version=#{version}
    where id = #{id}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
  </select>
  <select id="findPage" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dept
  </select>
</mapper>